<div class="top-act" >

        <video class="top-big-video" id="topBigVideo" autoplay loop style="width: 100%">
            <source src="http://ossweb-img.qq.com/images/lol/v1/banner/big-v23.webm" type="video/webm">
            <source src="http://ossweb-img.qq.com/images/lol/v1/banner/big-v23.mp4" type="video/mp4">
        </video>

      </div>
      

	<% include head %>



    
     <!-- 模态框（Modal） -->
     <% include ui/login%>
  </body>
</html>
