	<a href='#' onclick='' class="list-group-item">消息</a>
	<% if(loginbean.role==1){ %>
		<a href='#' onclick='renzheng()' class="list-group-item">身份认证</a>
	<% }else if(loginbean.role==2){%>
		身份认证中
	<% }else if(loginbean.role==3){%>
	<a href='/home/pubShop' class="list-group-item">发布租赁信息</a>
	<% }else if(loginbean.role==4){%>
	<a href='/home/shopmanage' class="list-group-item">管理营业点</a>
	<%}%>